<!DOCTYPE html>
<html>

	<head>
		<title>Example Flask App</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--Link CSS files here - I've linked custom & BootStrap CSS files-->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css')}}">
	</head>

	<body>

		<!--Don't forget about all the great Bootsrap stuff you used in beginners!-->
		<div class="container text-center mt-4 mb-4">
			<div class="col-lg-12 col-md-12 mb-12">
				<!--This is how you can link images-->
				<img class="img-responsive python-image mb-4" src="{{ url_for('static', filename='images/python.png')}}">
				<h1>ReciPAL</h1>
				<br>
				<h4 class="card-title product-bold">Welcome! What is in your fridge today?</h2>
				<h6 class="card-text">
					Need ideas?<br>
					Milk? Eggs? Butter?<br>
					We're here to help!<br>
				</h6>
			</div>
		</div>

		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-5 col-md-5">
					<!--Here is an example of how to get data from your user in a form-->
					<!--The site redirects you to /name when they click submit (the 'action' part)-->
					<!--The python code then calls the api and returns the data to the screen!-->
					<div class="card hoverable">
						<div class="card-body">
							<form method="post" action="/apiexample">
								<div class="form-group">
									<label for="name">Enter your fridge ingredient:</label>
									<input type="name" name="name" id="name" required="required">
								</div>
								<!-- <div class="form-group">
									<label for="movie">Enter your ingredient in the fridge:</label>
									<input type="movie" name="movie" id="movie" required="required">
								</div> -->
								<button type="submit" id="submit-button" class="btn btn-primary">Submit</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<!--Here is an example of how to get data from your user in a form-->
					<!--The site redirects you to /name when they click submit (the 'action' part)-->
					<!--The python code then calls the api and returns the data to the screen!-->
					<div class="card hoverable">
						<div class="card-body">

							<h6 class="card-text mb-3">

							</h6>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>

	<!--Link JavaScript files here - I've linked BootStrap abd JQuery JS files-->
	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>

</html>
